
<p-table
#dt
[value]="data"
dataKey="id"
styleClass="p-datatable-customers"
[rows]="10"
[showCurrentPageReport]="true"
[rowsPerPageOptions]="[10, 25, 50]"
responsiveLayout="scroll"
[paginator]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[filterDelay]="0"
>
<ng-template pTemplate="caption">
  <div class="table-header">
    Afiliados con medidores asignados
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText type="text" placeholder="Global Search"  class="p-inputtext p-component p-element"/>
      <!--(input)="dt.filterGlobal($event.target.value, 'contains')" -->
    </span>
  </div>
</ng-template>
<ng-template pTemplate="header">
  <tr>
    <th>ID</th>
    <th>AFILIADO</th>
    <th>Cedula Identidad</th>
    <th>Total de medidores</th>
    <th></th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-customer>
  <tr class="p-selectable-row">
    <td>
      <span class="p-column-title">ID</span>
      {{ customer.id}}
    </td>
    <td>
      <span class="p-column-title">AFILIADO</span>
      {{customer.nombrePrimero | titlecase}} {{customer.nombreSegundo ||"" |titlecase}} {{customer.apellidoPrimero | titlecase}} {{customer.apellidoSegundo ||"" | titlecase}} 
    </td>
    <td>
      <span class="p-column-title">CI</span>
      {{ customer.CI | titlecase}}
    </td>
    <td>
      <span class="p-column-title">medidores</span>
      {{ customer.medidores.length}}
    </td>
    <td style="text-align: center">
        <p-button
        label="Medidores"
        styleClass="p-button-warning"
        icon="pi pi-user"
        (click)="seleccionarId(customer.id)"
        >
      </p-button>
    </td>
  </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
    <td colspan="8">No customers found.</td>
  </tr>
</ng-template>
</p-table>
