<p-dialog
  header="Detalles del Cliente Registrado"
  [(visible)]="displayModal"
  [baseZIndex]="999"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModal()"
  [blockScroll]="true"
>
  <p-card [style]="{padding:'0px'}">
    <ng-template pTemplate="content">
        <div class="grid p-fluid w-full">
            <div class="col-12 grid p-fluid ">
                <div class="col-12 flex align-items-center">DATOS DE AFILIADO</div>
                <div class="col-12 grid p-fluid flex justify-content-center">
                    <div class="field col-12 md:col-6 flex grid align-items-center"><label class="col-fixed field-label" >PRIMER NOMBRE</label><div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" value="{{dataSelected.nombrePrimero | titlecase}}"></div></div>
                    <div class="field col-12 md:col-6 flex grid align-items-center"><label class="col-fixed field-label" >SEGUNDO NOMBRE</label><div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" value="{{dataSelected.nombreSegundo| titlecase}}"></div></div>                
                    <div class="field col-12 md:col-6 flex grid align-items-center"><label class="col-fixed field-label" >PRIMER APELLIDO</label>  <div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" [value]="dataSelected.apellidoPrimero | titlecase"></div></div>
                    <div class="field col-12 md:col-6 flex grid align-items-center"><label class="col-fixed field-label" >SEGUNDO APELLIDO</label>      <div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" [value]="dataSelected.apellidoSegundo | titlecase"></div></div>
                    <div class="field grid col-12 md:col-6 align-items-center flex"><label class="col-fixed field-label" >GENERO</label><div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" [value]="dataSelected.genero |titlecase"></div></div>
                    <div class="field grid col-12 md:col-6 align-items-center flex"><label class="col-fixed field-label" >PROFESION</label><div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" [value]="dataSelected.profesion |titlecase"></div></div>
                    <div class="field grid col-12 md:col-6 align-items-center flex"><label class="col-fixed field-label" >FECHA NACIMIENTO</label><div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" [value]="dataSelected.fechaNacimiento | date: 'dd/MM/yyyy'"></div></div>
                    <!--TODO: AGREGAR ANIMACION A LA PANTALLA DE ACUERDO A SU ESTADO-->
                    <!-- <div class="field grid col-12 md:col-6 align-items-center flex"><label class="col-fixed field-label" >ESTADO</label><div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" [value]="dataSelected.estado | titlecase"></div></div>                 -->
                    <div class="field col-12 md:col-6 flex grid align-items-center"><label class="col-fixed field-label" >CEDULA IDENTIDAD</label><div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" [value]="dataSelected.CI"></div></div>
                </div>
            </div>
        </div> 
    </ng-template>
</p-card>
<ng-template pTemplate="footer">
 <div class="flex justify-content-center flex-wrap">

     <button pButton pRipple type="button" label="MODIFICAR" class="p-button-secondary  mx-3 " (click)="operation({type:'MODIFICAR',id:dataSelected.id!})"
     ></button>
     
     <button pButton pRipple type="button" label="DESHABILITAR" 
     *ngIf="dataSelected.estado===1 else deshabilitar"
     class="p-button-warning  mx-3 " (click)="operation({type:'DESHABILITAR',id:dataSelected.id!})"></button>
     <ng-template #deshabilitar>
         <button pButton pRipple type="button" label="HABILITAR" 
         class="p-button-warning  mx-3 " (click)="operation({type:'HABILITAR',id:dataSelected.id!})"></button>
     </ng-template>
     <button pButton pRipple type="button" label="ELIMINAR" class="p-button-danger  mx-3 " (click)="operation({type:'ELIMINAR',id:dataSelected.id!})"
     ></button>
    </div>
</ng-template>
</p-dialog>
