<p-dialog
  header="Usuario Creado"
  [(visible)]="displayModal"
  [baseZIndex]="999"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [blockScroll]="true"
>
  <p-card [style]="{padding:'0px'}">
    <ng-template pTemplate="content">
        <div class="grid p-fluid w-full">
            <div class="col-12 grid p-fluid ">
                <div class="col-12 flex align-items-center">Datos de Usuario Creado</div>
                <div class="col-12 grid p-fluid flex justify-content-center">
                    <div class="field col-12 md:col-6 flex grid align-items-center"><label class="col-fixed field-label" >ID</label><div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" value="{{dataSelected.usuario.userName}}"></div></div>
                    <div class="field col-12 md:col-6 flex grid align-items-center"><label class="col-fixed field-label" >USUARIO</label><div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" value="{{dataSelected.usuario.perfil?.nombreUsuario}}"></div></div>
                    <div class="field col-12 md:col-6 flex grid align-items-center"><label class="col-fixed field-label" >USUARIO</label><div class="col"><input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" value="{{dataSelected.realPassword}}"></div></div>
                    <div class="field col-12 md:col-6 flex grid align-items-center"><label class="col-fixed field-label" >USUARIO</label><div class="col"><input type="password" pPassword [showPassword]="true" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none" [disabled]="true" value="{{dataSelected.realPassword}}"></div></div>
                </div>
            </div>
        </div> 
    </ng-template>
</p-card>
<ng-template pTemplate="footer">
 <div class="flex justify-content-center flex-wrap">

     <button pButton pRipple type="button" label="Cerrar Modal" class="p-button-secondary  mx-3 " (click)="closeModal()"
     ></button>
    </div>
</ng-template>
</p-dialog>
