<p-dialog
header="Tabla de asignar Menus"
  [(visible)]="displayModalTable"
  [baseZIndex]="999"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModal()"
>
<ng-template pTemplate="content">
    <p-table 
    [value]="data" 
    [paginator]="true" 
    [rows]="5" 
    [(selection)]="dataSelected" 
    selectionMode="multiple"
    dataKey="id" 
    [metaKeySelection]="false"
    [tableStyle]="{'min-width': '50rem'}" 
    >
        <ng-template pTemplate="header">
            <tr>
                <!-- <th style="width: 4rem">
                </th> -->
                
                <th style="min-width:200px">NOMBRE</th>
                <th style="min-width:200px">ENLACE</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
            <tr [pSelectableRow]="employee" [pSelectableRowIndex]="rowIndex">
                <!-- <td>
                    <p-tableRadioButton  [value]="employee" ></p-tableRadioButton >
                </td> -->
                
                <td>{{employee.nombre}}</td>
                <td>{{employee.linkMenu}}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-button label="Asignar Menus" (onClick)="selectData()" [disabled]="dataSelected.length===0"></p-button>

</ng-template>
</p-dialog>